body{
  background: #3e3f41;
}

.servicebox{
  padding: 130px 20px 10px;
  background: white;
  text-align: center;
  border-radius: 25x;
  overflow: hidden;
  position: relative;
}

.servicebox .service-icon{
  display: inline-block;
  width: 200px ;
  height: 200px;
  line-height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 5px #000 inset;
  background: linear-gradient(to top,#8633cb,#884fb7 50%,#6d6e72 50%);
  font-size: 50px;
  color: white;
  position: absolute;
  top: -90px;
  left: 50%;
  transform: scale(1) translateX(-50%);
  transition: all 0.9s ease 0s;
}

.servicebox:hover .service-icon{
  font-size: 65px;
}

.servicebox .title{
  font-size: 18px;
  font-weight: 700;
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.servicebox:hover .title{
  color: #8939cb;
}

.servicebox .description{
  font-size: 15px;
  color: #808080;
  line-height: 27px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.servicebox .read-more{
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
  font-style: italic;
  color: white;
  background: linear-gradient(to top,#8633cb,#884fb7);
  border-radius: 10px 10px 0 0;
  transform: translateY(50px);
  transition: all 0.3s ease 0s;
}

.servicebox .read-more:hover{
  color: white;
  box-shadow: 0 0 5px #000;
}

.servicebox:hover .read-more{
  transform: translateY(0);
}

.servicebox.yellow .service-icon{
  background: linear-gradient(to top,#f1b02b,#fddb18 50%,#6d6e72 50%);

}
.servicebox.yellow:hover .title{
  color: #f1b02b;
}
.servicebox.yellow .read-more{
  background: linear-gradient(to top,#f1b02b,#fddb18 );
}

.servicebox.green .service-icon{
  background: linear-gradient(to top,#50c338,#9dea28 50%,#6d6e72 50%);

}
.servicebox.green:hover .title{
  color: #50c338;
}
.servicebox.green .read-more{
  background: linear-gradient(to top,#50c338,#9dea28 );
}

.servicebox.red .service-icon{
  background: linear-gradient(to top,#ef0000,#ff1111 50%,#6d6e72 50%);

}
.servicebox.red:hover .title{
  color:  #ef0000;
}
.servicebox.red .read-more{
  background: linear-gradient(to top,#ef0000,#ff1111 );
}

.container{
  width: 100%
  height: 100vh;
  padding-top: 25vh;
}

.col-md-3{
  padding-bottom: 20px;
}
